@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: lightblue;
    position: relative;
}

/*######################
   ##  Navigation
########################*/
header {
    background-color: rgba(0, 0, 0, 0.8);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header li {
    list-style: none;
}

header a {
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
}

header a:hover {
    color: orange;
}

/*######################
##  index
########################*/

.hero-img {
    width: 100%;
    height: 150px;
    background-image: url('/media/images/hero-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}

.services-box {
    min-height: 400px;
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.service-box:hover {
    cursor: pointer;
}

.service-box {
    margin: 0 auto;
    width: 80%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid grey;
}
.service-img-box {
    height: 40%;
    width: 100%;
    overflow: hidden;
}
.service-box img {
    height: auto;
    width: 100%;
    image-rendering: auto;

}
.service-box h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    color: rgba(0, 0, 0, 0.8);
    padding: 0 5px;
}
.service-box p {
    padding: 0 5px;
}

.iframe {
    width: 100%;
    height: 300px;
}
iframe {
    width: 100%;
    height: 300px;
}

footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
    position: sticky;
    top: 100%;
}

/*######################
##  form
########################*/
.header {
    text-align: center;
    color: grey;
}
form label p {
    display: none;
}

form {
    width: 300px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form button {
    margin: 10px;
    width: 30%;
    padding: 10px;
    border-radius: 15px;
    background-color: darkblue;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;

}

form button:hover {
    background-color: blueviolet;
}
form input {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
}
.error {
    color: indianred;
}
@media only screen and (min-width: 400px) {
    .hero-img {
        height: 200px;
    }

    .header a {
        font-size: 15px;
    }

    .services-box {
        height: 400px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }
    .service-box {
        max-height: 380px;
        width: 25%;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
        margin: 0;
        overflow: hidden;
    }
    .service-box img {
        height: 100%;
        image-rendering: auto;

    }

    /*######################
    ##  form
    ########################*/

    form label p {
        display: block;
        color: grey;
        padding-left: 10px;
    }
}


